
/* General styles */

body {
	margin: 0;
	padding: 0;
}

div {
	display: block;
}

h1, h2, p, a, li, span {
	font-family: 'Roboto Mono';
	color: black;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

p, a, li {
	font-size: 16px;
}

a {
	transition: opacity ease 200ms;
	-webkit-transition: opacity ease 200ms;
}
a:hover {
	opacity: .7;
}

.unstyled-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.unstyled-list li {
	display: inline;
}

.vertical-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.hr {
	height: 2px;
	background-color: #CCCCCC;
	width: 140px;
	display: block;
	margin: .5em 0 1em 0;
}

.blue-link {
	color: #4A90E2;
}

.columns:last-child {
	margin-right: 0;
}

/* Container styles */
.left-container {
	display: inline-block;
	position: fixed;
	left: 0;
	height: 100%;
	width: 50%;
	padding: 4em 10px 0 4em;
	overflow-y: scroll;
	box-sizing: border-box;

	scroll: hidden;
}

.right-container {
	display: inline-block;
	position: fixed;
	left: 50%;
	height: 100%;
	width: 50%;

	background-image: url('me.jpg');
	background-size: cover; 
}

.right-container img {
	position: relative;
	margin: 0 auto;
	bottom: 0;
}

/* Content styles */

header .section {
	
}

header .section-title {
	margin: .5em 0 0 0;
}

.section {
	margin-bottom: 2em;
	float: left;
}

section .section-title {
	text-transform: uppercase;
}

section .text-block {
	color: #4A4A4A;
	line-height: 1.5;
}

.social-links li {
	padding-right: 3em;
	line-height: 2;
}
.social-links li:last-child {
	padding-right: 0;
}
.social-links li a {
	color: #4A90E2;
	font-weight: 600;
}

.skills-group {
	margin-right: 3em;
	float: left;
	display: inline-block;
}
.skills-group:last-child {
	margin-right: 0;
}

.skills-list li {
	margin-bottom: 1em;
	color: #3C3C3C;
}
.skills-list li:last-child {
	margin-bottom: 0;
}

a.header-links {
	text-decoration: none;
}
a.header-links {
	display: inline-block;
	margin-right: 3em;
}
a.header-links:last-child {
	margin-right: 0;
}

@media only screen and (min-width: 1400px) {
	.left-container {
		width: 45%;
		left: 5%;
	}

	.right-container {
		width: 45%;
	}
}

@media only screen and (max-width: 1150px) {
	.left-container {
		width: 60%;
	}

	.right-container {
		left: 60%;
	}
}

@media only screen and (max-width: 900px) {
	.left-container {
		width: 85%;
	}

	.right-container {
		display: none;
		background-image: none;
	}
}

@media only screen and (max-width: 640px) {
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 20px;
	}

	p, a, li {
		font-size: 14px;
	}

	.left-container {
		width: 100%;
		padding: 2em 2em 0 2em;
	}

	.section {
		margin-bottom: 1.5em;
	}

	.skills-group {
		margin-right: 1.5em;
		margin-bottom: 2em;
	}
}

@media only screen and (max-width: 340px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 18px;
	}

	p, a, li {
		font-size: 13px;
	}

}

/*** All styles for projects/index.html ***/

.pr--container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.pr--main-section {
	/* Animations */
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  opacity: 1;
}
.pr--main-section.hide {
  opacity: 0;
}

.pr--header p {
	font-size: 24px;
}

.pr--header p a {
	font-size: 24px;
}

.pr--main-section {
	display: block;
	float: left; 
	margin: 3em 0;
}

.pr--image-container {
	width: 50%;
	float: left;
	padding-right: 25px;
	padding-top: 3em;
	box-sizing: border-box;
}
.pr--image-container img {
	width: 100%;
}

.pr--description-container {
	width: 50%;
	float: left;
	padding-left: 25px;
	box-sizing: border-box;	
}

.pr--description {
	color: #4A4A4A;
}

.pr--footer {
	/*text-align: center;*/
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-bottom: 50px;
	background-color: white;
}

.pr--footer-wrapper {
	width: 300px;
	margin: 0 auto;
}

.pr--nav-button {
	display: inline-block;
	width: 100px;
	float: left;
	text-align: center;
}
.pr--nav-button span {
	border-bottom: black 1px solid;
	cursor: pointer;
	transition: opacity ease 200ms;
	-webkit-transition: opacity ease 200ms;
}
.pr--nav-button span:hover {
	opacity: .5;
}
/*.pr--nav-button.back {
	margin-right: 3em;
}
.pr--nav-button.next {
	margin-left: 3em;
}*/

.pr--page-dots {
	width: 100px;
	float: left;
	padding-top: 5px;
}

.pr--page-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 4px;
	background-color: #9B9B9B;
	border: 1px solid white;
}

.pr--page-dot.active {
	background-color: white;
	border-color: #9B9B9B;
	margin-top: 1px;
}

@media only screen and (max-width: 780px) {
	.pr--image-container {
		width: 100%;
	}

	.pr--description-container {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	.pr--footer-wrapper {
		width: 100%;
	}

	.pr--footer {
		padding: 20px;
		border-top: 1px solid #D6D6D6;
		-webkit-box-shadow: 0 -1px 5px 0px rgba(0, 0, 0, .2);
	  -moz-box-shadow: 0 -1px 5px 0px rgba(0, 0, 0, .2);
    box-shadow: 0 -1px 5px 0px rgba(0, 0, 0, .2;	
	}
}